{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Starfire</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi labore itaque laudantium atque, facilis sit? Omnis consequatur beatae suscipit. Iusto nostrum consequatur placeat voluptate ipsum quis cum cumque saepe repellendus.</p>
    </div>
    <div class="col-4">
        <img src="/public/assets/img/portada.png" alt="Imagen de Starfire" class="img-thumbnail" >
    </div>
</div>